@model CurrencyViewModel

@{
    ViewData["Title"] = "Create";
}

<partial name="_header"/>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <input asp-for="Id" hidden/>
            <input asp-for="Country" value="a" hidden/>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control"/>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group CheckboxGroup">
                <label asp-for="IsDefault" class="control-label"></label>
                &nbsp; <input asp-for="IsDefault" type="checkbox"  class="form-check-input"/>
                    
                <span asp-validation-for="IsDefault" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Symbol" class="control-label"></label>
                <input asp-for="Symbol" class="form-control"/>
                <span asp-validation-for="Symbol" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Country" class="control-label"></label>
                <select asp-for="CountryId" class="form-control selectAdd"></select>
                <span asp-validation-for="CountryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-success"/>
            </div>
        </form>
    </div>
</div>

@section Scripts{
    <link href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" rel="stylesheet"/>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>
    <script>
        $(function () {
            var country= $('#CountryId').select2({
                placeholder: 'Select an option',
                ajax: {
                    url: '@Url.Action("GetCountries", "Json")',
                    data: function (params) {
                        var query = {
                            search: params.term,
                            page: params.page || 1
                        }
                        return query;
                    },
                    processResults: function (data) {
                        return {
                            results: data.items
                        };
                    }
                }
           });

        });
    </script>
}